@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product List";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-sm table-bordered table-striped table-hover" style="width 100%">
    <thead>
        <tr>
            <th>Book Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.BookNbr</td>
                <td>@product.Title</td>
                <td>@product.Author</td>
                <td>@product.Price</td>
                <td>@product.Unit</td>
                <td>
                    <a asp-controller="Product" asp-action="Detail">Detail</a>
                    <a asp-controller="Product" asp-action="Edit">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
      <tr><td colspan="6"><h4><a asp-controller="Product" asp-action="Create">Add Product</a></h4></td></tr>
    </tfoot>
</table>